<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
    <Performance_Settings>Performance settings</Performance_Settings>
    <Gameplay_Settings>Gameplay settings</Gameplay_Settings>

    <!-- Tools settings -->
    <TF_degredation>Degradation</TF_degredation>
    <TF_degredation_tooltip>Degrade tools every tick.</TF_degredation_tooltip>
    <TF_degredationFactor>Degradation factor</TF_degredationFactor>
    <TF_degredationFactor_tooltip>Degradation factor multiplier.</TF_degredationFactor_tooltip>

    <TF_alertToolNeedsReplacing>Tool needs replacing alert</TF_alertToolNeedsReplacing>
    <TF_alertToolNeedsReplacing_tooltip>Trigger alert when degraded tool needs replacing.</TF_alertToolNeedsReplacing_tooltip>
    <TF_alertToolNeedsReplacing_Delay>Alert check frequency</TF_alertToolNeedsReplacing_Delay>
    <TF_alertToolNeedsReplacing_Delay_tooltip>In game time between each alert check.</TF_alertToolNeedsReplacing_Delay_tooltip>
    <TF_alertToolNeedsReplacing_Treshold>Tool's remaining lifetime alert treshold</TF_alertToolNeedsReplacing_Treshold>
    <TF_alertToolNeedsReplacing_Treshold_tooltip>Remaining work time of a tool when the alert is triggered.</TF_alertToolNeedsReplacing_Treshold_tooltip>

    <TF_equipTool>Equip tool when used</TF_equipTool>
    <TF_equipTool_tooltip>Automatically switch between the default equipment and the tool used.</TF_equipTool_tooltip>
    <TF_equipTool_equip>Automatically switch</TF_equipTool_equip>
    <TF_usefrominv>Use from inventory</TF_usefrominv>
    <TF_draw>Draw tools when used</TF_draw>
    <TF_draw_tooltip>Draw the tools statically when in use.</TF_draw_tooltip>

    <TF_equipDelay>Tool preparation time</TF_equipDelay>
    <TF_equipDelay_tooltip>Toggle the tool preparation time before using starting the work. It scales with the ammount of tools currently in inventory.</TF_equipDelay_tooltip>
    <TF_equipDelayFactor>Preparation time multiplier</TF_equipDelayFactor>
    <TF_equipDelayFactor_tooltip>Multiplier for the tool preparation time.</TF_equipDelayFactor_tooltip>
    
    <TF_optimization>Tool loadout optimization</TF_optimization>
    <TF_optimization_tooltip>Optimize the tool loadout according to the pawn's current work settings.</TF_optimization_tooltip>
    <TF_optimizationDelay>Optimization frequency</TF_optimizationDelay>
    <TF_optimizationDelay_tooltip>In game time between optimization checks</TF_optimizationDelay_tooltip>
    <TF_mapTrackerDelay_Stored>Stored map tools update interval</TF_mapTrackerDelay_Stored>
    <TF_mapTrackerDelay_Stored_tooltip>In game time when the list of stored tools is updated.</TF_mapTrackerDelay_Stored_tooltip>
    <TF_mapTrackerDelay_Useable>Useable map tools update interval</TF_mapTrackerDelay_Useable>
    <TF_mapTrackerDelay_Useable_tooltip>In game time when the list of free tools is updated.</TF_mapTrackerDelay_Useable_tooltip>


    <TF_opportunisticToolJobs>Opportunistic tool jobs</TF_opportunisticToolJobs>
    <TF_opportunisticToolJobs_tooltip>Toggle various oppotunistic jobs for managing tool loadout before going to jobs.</TF_opportunisticToolJobs_tooltip>
    <TF_opportunisticTakeTool>Pick tools opportunistically</TF_opportunisticTakeTool>
    <TF_opportunisticTakeTool_tooltip>Pawns will pick up the closest tool in storage if it's better before heading out to perform tool jobs.</TF_opportunisticTakeTool_tooltip>
    <TF_opportunisticReturnTool>Return temporary tool</TF_opportunisticReturnTool>
    <TF_opportunisticReturnTool_tooltip>Pawns will return the temporarily picked up tool to an appropriate storage on the way to other jobs.</TF_opportunisticReturnTool_tooltip>
    <TF_opportunisticTakeTool_calcPath>Calculate real opportunistic path</TF_opportunisticTakeTool_calcPath>
    <TF_opportunisticTakeTool_calcPath_tooltip>When searching for closest tool to pick up, calculate the actual pawn's path</TF_opportunisticTakeTool_calcPath_tooltip>
</LanguageData>