<?xml version="1.0" encoding="utf-8"?>

<LanguageData>
  <!-- EN: Main -->
	<VF_MainSettings>Основные</VF_MainSettings>

  <!-- Misc. -->
  <!-- EN: Search... -->
	<VF_ListSearchText>Поиск...</VF_ListSearchText>
  <!-- EN: Settings have been locked for this vehicle and cannot be modified. -->
	<VF_SettingsDisabledTooltip>Настройки для этого транспорта заблокированы и не могут быть изменены.</VF_SettingsDisabledTooltip>
  <!-- EN: This vehicle cannot be upgraded. -->
	<VF_NonUpgradeableSettingsTooltip>Этот транспорт не может быть улучшен.</VF_NonUpgradeableSettingsTooltip>
  <!-- EN: Change default pattern -->
	<VF_RecolorDefaultMaskTooltip>Изменить шаблон по умолчанию</VF_RecolorDefaultMaskTooltip>

  <!-- World & Map Generation -->
  <!-- EN: World/Map Generation -->
	<VF_WorldMapGen>Генерация мира/карты</VF_WorldMapGen>
  <!-- EN: Beach Size Multiplier -->
	<VF_BeachGenMultiplier>Множитель размера пляжа</VF_BeachGenMultiplier>
  <!-- EN: Increase the amount of water on the coastline. -->
	<VF_BeachGenMultiplierTooltip>Увеличить количество воды на береговой линии.</VF_BeachGenMultiplierTooltip>
  <!-- EN: River Size Multiplier -->
	<VF_RiverGenMultiplier>Множитель размера реки</VF_RiverGenMultiplier>
  <!-- EN: Increase the width of rivers on maps. -->
	<VF_RiverGenMultiplierTooltip>Увеличить ширину рек на картах.</VF_RiverGenMultiplierTooltip>
  <!-- EN: Push Settlement to Coast -->
	<VF_ForceSettlementCoast>Переместить поселение на побережье</VF_ForceSettlementCoast>
  <!-- EN: Push nearby faction settlements to the coast if within given radius -->
	<VF_ForceSettlementCoastTooltip>Передвинуть ближайшие поселения фракций к побережью, если они находятся в заданном радиусе.</VF_ForceSettlementCoastTooltip>
  <!-- EN: Every Settlement -->
	<VF_EverySettlementToCoast>Каждое поселение</VF_EverySettlementToCoast>
  <!-- EN: tiles -->
	<VF_WorldTiles>клетки</VF_WorldTiles>

  <!-- General Settings -->
  <!-- EN: General -->
	<VF_SettingsGeneral>Общие</VF_SettingsGeneral>
  <!-- EN: This action requires a restart to take effect. -->
	<VF_WillRequireRestart>Для вступления этого действия в силу требуется перезагрузка.</VF_WillRequireRestart>
  <!-- EN: Modifiable Settings -->
	<VF_ModifiableSettings>Изменяемые настройки</VF_ModifiableSettings>
  <!-- EN: Toggle Modifiable Settings. Restarting with this disabled will bypass generation of modifiable settings.
	
Determines whether Vehicles should use values from the mod settings or Defs -->
	<VF_ModifiableSettingsTooltip>Переключить изменяемые настройки. Перезапуск с отключенным параметром позволит избежать создания изменяемых настроек. 
	
	Определяет, должен ли транспорт использовать значения из настроек мода или Defs.</VF_ModifiableSettingsTooltip>
  <!-- EN: Use RGB Shaders -->
	<VF_CustomShaders>Использовать RGB-шейдеры</VF_CustomShaders>
  <!-- EN: Enable use of custom shaders provided by the framework. -->
	<VF_CustomShadersTooltip>Включить использование пользовательских шейдеров, предоставляемых платформой.</VF_CustomShadersTooltip>
  <!-- EN: Allow Diagonal Rendering -->
	<VF_DiagonalVehicleRendering>Диагональный рендеринг</VF_DiagonalVehicleRendering>
  <!-- EN: Vehicles that support diagonal rendering will do so when set to diagonal rotations (NorthEast, SouthEast, SouthWest, NorthWest) -->
	<VF_DiagonalVehicleRenderingTooltip>Транспорт, поддерживающий диагональный рендеринг, будет использовать его, если для него установлено диагональное вращение (Северо-Восток, Юго-Восток, Юго-Запад, Северо-Запад).</VF_DiagonalVehicleRenderingTooltip>

  <!-- EN: Full Vehicle Pathing -->
	<VF_FullVehiclePathing>Полная траектория транспорта</VF_FullVehiclePathing>
  <!-- EN: Use the entire hitbox of the vehicle when determining shortest path. Vehicle will still be constrained by its size. -->
	<VF_FullVehiclePathingTooltip>Использовать весь корпус транспорта при определении кратчайшего пути. Транспорт по-прежнему будет ограничен своими размерами.</VF_FullVehiclePathingTooltip>
  <!-- EN: Smooth Vehicle Paths -->
	<VF_SmoothVehiclePathing>Плавные траектории движения транспорта</VF_SmoothVehiclePathing>
  <!-- EN: Vehicle pathing will have an additional "turn" cost, preventing unnecessary zig zag patterns from shortest path. -->
	<VF_SmoothVehiclePathingTooltip>Прохождение траектории транспорта будет иметь дополнительную стоимость «поворота», предотвращая ненужные зигзагообразные маневры на кратчайшем пути.</VF_SmoothVehiclePathingTooltip>
  <!-- EN: Hierarchal Pathfinding (Experimental) -->
	<VF_HierarchalPathfinding>Иерархический поиск пути (экспериментально)</VF_HierarchalPathfinding>
  <!-- EN: Use HPA* instead of A* for faster pathfinding. Sacrifices a small amount of pathfinding accuracy for substantially faster pathfinding across large distances. -->
	<VF_HierarchalPathfindingTooltip>Использовать HPA* вместо A* для более быстрого поиска пути. Жертвует небольшой точностью поиска пути ради существенно более быстрого поиска пути на больших расстояниях.</VF_HierarchalPathfindingTooltip>

  <!-- EN: Biome Cost on Roads -->
	<VF_RoadBiomeCostPathing>Стоимость местности для дорог</VF_RoadBiomeCostPathing>
  <!-- EN: Vehicle Caravans moving over roads on the world map are still affected by biome path costs. -->
	<VF_RoadBiomeCostPathingTooltip>На транспортные караваны, движущиеся по дорогам на карте мира, по-прежнему влияют затраты на передвижение по местности.</VF_RoadBiomeCostPathingTooltip>
  <!-- EN: Multi-Pawn Jobs -->
	<VF_MultiplePawnsPerJob>Работа с несколькими колонистами</VF_MultiplePawnsPerJob>
  <!-- EN: Allows vehicle related jobs to allow more than 1 pawn to reserve and work on it. Max allowed pawns determined by modders. -->
	<VF_MultiplePawnsPerJobTooltip>Позволяет выполнять задания, связанные с транспортом, позволяя зарезервировать и работать над ними более чем 1 колонисту. Максимально разрешенное количество колонистов определяется авторами модов.</VF_MultiplePawnsPerJobTooltip>
  <!-- EN: Hide Disabled Vehicles -->
	<VF_HideDisabledVehicles>Скрыть отключенный транспорт</VF_HideDisabledVehicles>
  <!-- EN: Disabled vehicles from the mod settings will be hidden in architect menu. -->
	<VF_HideDisabledVehiclesTooltip>Отключенный транспортн из настроек мода будет скрыты в меню строительства.</VF_HideDisabledVehiclesTooltip>

  <!-- Performance -->
  <!-- EN: Performance -->
	<VF_PerformanceSettings>Производительность</VF_PerformanceSettings>
  <!-- EN: Passive Water Waves -->
	<VF_PassiveWaterWaves>Пассивные волны на воде</VF_PassiveWaterWaves>
  <!-- EN: Generate passive waves when boat is idle. -->
	<VF_PassiveWaterWavesTooltip>Генерирует пассивные волны, когда лодка простаивает.</VF_PassiveWaterWavesTooltip>
  <!-- EN: Aerial Vehicle Effects -->
	<VF_AerialVehicleEffects>Эффекты летательных аппаратов</VF_AerialVehicleEffects>
  <!-- EN: When aerial vehicles takeoff and land, spawn flecks and render overlay textures. -->
	<VF_AerialVehicleEffectsTooltip>Когда летательные аппараты взлетают и приземляются, появляются визуальные эффекты и накладываются дополнительные текстуры.</VF_AerialVehicleEffectsTooltip>

  <!-- Multipliers -->
  <!-- EN: Vehicle Damage -->
	<VF_VehicleDamageMultipliers>Повреждение транспорта</VF_VehicleDamageMultipliers>
  <!-- EN: Melee Damage Multiplier -->
	<VF_MeleeDamageMultiplier>Множитель урона в ближнем бою</VF_MeleeDamageMultiplier>
  <!-- EN: Ranged Damage Multiplier -->
	<VF_RangedDamageMultiplier>Множитель урона в дальнем бою</VF_RangedDamageMultiplier>
  <!-- EN: Explosive Damage Multiplier -->
	<VF_ExplosiveDamageMultiplier>Множитель взрывного урона</VF_ExplosiveDamageMultiplier>

  <!-- VehicleTurrets -->
  <!-- EN: Vehicle Turrets -->
	<VF_VehicleTurrets>Транспортные турели</VF_VehicleTurrets>
  <!-- EN: Turret Overheating -->
	<VF_TurretOverheatMechanics>Перегрев турели</VF_TurretOverheatMechanics>
  <!-- EN: Some turrets have overheat mechanics to prevent nonstop firing without consequences. Keep this enabled? -->
	<VF_TurretOverheatMechanicsTooltip>Некоторые турели имеют механику перегрева, предотвращающую непрерывную стрельбу без последствий. Оставить это включенным?</VF_TurretOverheatMechanicsTooltip>

  <!-- Land Vehicles (none right now)-->

  <!-- Sea Vehicles -->
  <!-- EN: Fishing -->
	<VF_Fishing>Ловить рыбу</VF_Fishing>
  <!-- EN: Fishing (Inactive) -->
	<VF_FishingInactive>Рыбалка (Неактивно)</VF_FishingInactive>
  <!-- EN: Fishing Multiplier -->
	<VF_FishingMultiplier>Множитель улова</VF_FishingMultiplier>
  <!-- EN: Adjust the amount of fish gathered from fishing boat. -->
	<VF_FishingMultiplierTooltip>Регулирует количество рыбы, выловленной с рыбацкой лодки.</VF_FishingMultiplierTooltip>
  <!-- EN: Fishing Delay -->
	<VF_FishingDelay>Время на рыбалку</VF_FishingDelay>
  <!-- EN: Base amount of ticks it takes to gather fish on a fishing boat. -->
	<VF_FishingDelayTooltip>Базовое количество времени, необходимое для улова рыбы на рыбацкой лодке.</VF_FishingDelayTooltip>
  <!-- EN: Fishing Skill -->
	<VF_FishingSkill>Навык рыбака</VF_FishingSkill>
  <!-- EN: How much exp is given by fishing on a boat -->
	<VF_FishingSkillTooltip>Сколько опыта дает рыбалка с лодки</VF_FishingSkillTooltip>
  <!-- EN: Fishing Persists -->
	<VF_FishingPersists>Не сбрасывать рыбалку</VF_FishingPersists>
  <!-- EN: The Fishing Boat fishing selection will not reset upon drafting. -->
	<VF_FishingPersistsTooltip>Выбор рыбацкой лодки не сбрасывает прогресс рыбалки.</VF_FishingPersistsTooltip>

  <!-- Aerial Vehicles -->
  <!-- EN: Air -->
	<VF_AerialVehicles>Полет</VF_AerialVehicles>
  <!-- EN: Draw Landing Spot -->
	<VF_DrawLandingGhost>Указать место приземления</VF_DrawLandingGhost>
  <!-- EN: Draws a transparent 'blueprint' where an aerial vehicle is landing. -->
	<VF_DrawLandingGhostTooltip>Отрисовка прозрачного «чертежа» места приземления летательного аппарата.</VF_DrawLandingGhostTooltip>
  <!-- EN: Rockets Burn -->
	<VF_RocketsBurnRadius>Огонь из сопл</VF_RocketsBurnRadius>
  <!-- EN: Allow aerial vehicles which support this feature to burn all things within a small radius upon takeoff and landing. -->
	<VF_RocketsBurnRadiusTooltip>Разрешить летательным аппаратам, поддерживающим эту функцию, сжигать все в небольшом радиусе при взлете и приземлении.</VF_RocketsBurnRadiusTooltip>
  <!-- EN: Dynamic Drawing -->
	<VF_DynamicDrawing>Динамическая отрисовка</VF_DynamicDrawing>
  <!-- EN: Render aerial vehicles on the world map when zoomed in. -->
	<VF_DynamicDrawingTooltip>Отрисовка летательных аппаратов на карте мира при увеличении.</VF_DynamicDrawingTooltip>
  <!-- EN: Deploy on Landing -->
	<VF_DeployOnLanding>Высадка при посадке</VF_DeployOnLanding>
  <!-- EN: When an aerial vehicle lands all pawns onboard will be unloaded. -->
	<VF_DeployOnLandingTooltip>Когда летательный аппарат приземлится, все колонисты на борту будут высажены.</VF_DeployOnLandingTooltip>
  <!-- EN: Delay on Landing -->
	<VF_DelayOnLanding>Задержка при посадке</VF_DelayOnLanding>
  <!-- EN: When an aerial vehicle lands the deployment of all pawns will be delayed. -->
	<VF_DelayOnLandingTooltip>Когда летательный аппарат приземлится, высадка всех колонистов будет отложена.</VF_DelayOnLandingTooltip>
  <!-- EN: seconds -->
	<VF_DelaySeconds>секунд</VF_DelaySeconds>
  <!-- EN: Air Defenses -->
	<VF_AirDefensesActive>ПВО</VF_AirDefensesActive>
  <!-- EN: Certain world objects are able to utilize air defenses to shoot down nearby aircraft. -->
	<VF_AirDefensesActiveTooltip>Некоторые объекты мира могут использовать средства противовоздушной обороны, чтобы сбивать близлежащие летательные аппараты.</VF_AirDefensesActiveTooltip>

  <!-- Combat -->
  <!-- EN: Combat -->
	<VF_CombatSettings>Бой</VF_CombatSettings>
  <!-- EN: Run Over Pawns -->
	<VF_RunOverPawns>Сбивать персонажей</VF_RunOverPawns>
  <!-- EN: Vehicles can run over pawns and apply blunt damage based on mass and speed. -->
	<VF_RunOverPawnsTooltip>Транспорт может наезжать на персонажей и наносить им тупой урон в зависимости от массы и скорости.</VF_RunOverPawnsTooltip>
  <!-- EN: Friendly Fire Chance -->
	<VF_ChanceToRunOverFriendlies>Шанс дружественного огня</VF_ChanceToRunOverFriendlies>
  <!-- EN: Chance to run over friendly pawns. -->
	<VF_ChanceToRunOverFriendliesTooltip>Шанс наехать на дружественных персонажей.</VF_ChanceToRunOverFriendliesTooltip>

  <!-- Vehicle Stats -->
  <!-- EN: Stats -->
	<VF_VehicleStats>Статистика</VF_VehicleStats>

  <!-- Upgrade Menu Settings -->
  <!-- EN: Upgrades (Disabled) -->
	<VF_Upgrades>Обновления (отключено)</VF_Upgrades>
  <!-- EN: Draw Upgrade Menu Info Screen -->
	<VF_DrawUpgradeInformationScreen>Появление информационного экрана об обновлениях мода</VF_DrawUpgradeInformationScreen>
  <!-- EN: Draw additional menu on the upgrade menu to display ship stats and ship icon. -->
	<VF_DrawUpgradeInformationScreenTooltip>Отрисовка дополнительного меню в меню улучшений для отображения статистики корабля и значка корабля.</VF_DrawUpgradeInformationScreenTooltip>
  <!-- EN: Override Draw Color -->
	<VF_OverrideDrawColor>Переопределить цвет узора</VF_OverrideDrawColor>
  <!-- EN: When any upgrade is applied that comes with a pattern or draw color, the previous paint job will be overridden. -->
	<VF_OverrideDrawColorTooltip>При применении любого обновления, которое включает в себя узор или цвет кисти, предыдущее задание по отрисовке узора будет переопределено.</VF_OverrideDrawColorTooltip>


</LanguageData>
