<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	<!---->
	<Paragon.Settings.ParagonMod>Project Paragon</Paragon.Settings.ParagonMod>
	<!---->
	<Paragon.SettingsTabRecord_Food.NeedSlider>Множитель нужд БЖУ: {0}</Paragon.SettingsTabRecord_Food.NeedSlider>
	<Paragon.SettingsTabRecord_Food.NeedSlider.MouseOver>Отражает скорость уменьшения шкал питательных веществ у пешек. Чем больше, тем сложнее.</Paragon.SettingsTabRecord_Food.NeedSlider.MouseOver>
	<Paragon.SettingsTabRecord_Food.NutritionSlider>Множитель БЖУ кастомных блюд: {0}</Paragon.SettingsTabRecord_Food.NutritionSlider>
	<Paragon.SettingsTabRecord_Food.NutritionSlider.MouseOver>Отражает множитель питательности новых кастомных блюд. Чем больше, тем проще. Работает только на новые рецепты.</Paragon.SettingsTabRecord_Food.NutritionSlider.MouseOver>
	<Paragon.SettingsTabRecord_Food.NeedSlidersLabel>Настройки БЖУ</Paragon.SettingsTabRecord_Food.NeedSlidersLabel>
	<!---->
	<Paragon.SettingsTabRecord_World.EnablePassiveFactionAI>Пассивная жизнь мира</Paragon.SettingsTabRecord_World.EnablePassiveFactionAI>
	<Paragon.SettingsTabRecord_World.EnablePassiveFactionAI.MouseOver>При включении активирует пассивную жизнь глобального мира. Поселения будут нападать друг на друга, торговать между собой, создавать объекты в мире и т.д., даже там, где вас нет.
	
Включение данной настройки может снизить производительность, но мир станет "более живым".</Paragon.SettingsTabRecord_World.EnablePassiveFactionAI.MouseOver>
	<Paragon.SettingsTabRecord_World.PreventPlayerNuclearProgram>Фракции мешают развитию ядерной программы</Paragon.SettingsTabRecord_World.PreventPlayerNuclearProgram>
	<Paragon.SettingsTabRecord_World.PreventPlayerNuclearProgram.MouseOver>Если включено, фракции, обеспокоенные распространением ядерного оружия будут атаковать вас в ответ на ядерную угрозу.</Paragon.SettingsTabRecord_World.PreventPlayerNuclearProgram.MouseOver>
	<Paragon.SettingsTabRecord_World.NuclearWarChance>Шанс начала ядерной войны: {0}</Paragon.SettingsTabRecord_World.NuclearWarChance>
	<Paragon.SettingsTabRecord_World.NuclearWarChance.MouseOver>Шанс начала глобальной ядерной войны после применения вами ядерного оружия.</Paragon.SettingsTabRecord_World.NuclearWarChance.MouseOver>
	<Paragon.SettingsTabRecord_World.PreventPlayerRaidPower>Сила карательного каравана ядерной угрозы: {0}</Paragon.SettingsTabRecord_World.PreventPlayerRaidPower>
	<Paragon.SettingsTabRecord_World.PreventPlayerRaidPower.MouseOver>Множитель силы рейда карательных отрядов, посылаемых фракциями-противниками ядерного оружия.</Paragon.SettingsTabRecord_World.PreventPlayerRaidPower.MouseOver>
	<Paragon.SettingsTabRecord_World.LanguageDifficult>Сложность освоения языков: {0}</Paragon.SettingsTabRecord_World.LanguageDifficult>
	<Paragon.SettingsTabRecord_World.LanguageDifficult.MouseOver>Множитель сложности изучения языка. Чем больше, тем дольше вы будете их изучать.</Paragon.SettingsTabRecord_World.LanguageDifficult.MouseOver>
	<!---->
	<Paragon.SettingsTabRecord_Misc.ShowStartInformation>Показывать информационное окно при старте новой игры</Paragon.SettingsTabRecord_Misc.ShowStartInformation>
	<Paragon.SettingsTabRecord_Misc.ShowStartInformation.MouseOver>Если включено, отображает окно информации при создании нового мира.</Paragon.SettingsTabRecord_Misc.ShowStartInformation.MouseOver>
	<Paragon.SettingsTabRecord_Misc.ForceDropOnFloorRecipe>Бросать на пол для рецепта по стандарту</Paragon.SettingsTabRecord_Misc.ForceDropOnFloorRecipe>
	<Paragon.SettingsTabRecord_Misc.ForceDropOnFloorRecipe.MouseOver>Если включено, при создании рецепт будет стандартно устанавливать состояние на бросать на пол, вместо переноса на лучший склад.</Paragon.SettingsTabRecord_Misc.ForceDropOnFloorRecipe.MouseOver>
	<Paragon.SettingsTabRecord_Misc.ForceIngredientSearchRadius>Радиус поиска предметов для рецепта по стандарту: {0}</Paragon.SettingsTabRecord_Misc.ForceIngredientSearchRadius>
	<Paragon.SettingsTabRecord_Misc.ForceIngredientSearchRadius.MouseOver>Если меньше 100, будет устанавливать радиус поиска на указанное число, иначе - неограниченно. Это сделано для облегчения нагрузки на тпс, которая возникает из-за сканирования карты.</Paragon.SettingsTabRecord_Misc.ForceIngredientSearchRadius.MouseOver>
	<Paragon.SettingsTabRecord_Misc.ForceIngredientSearchRadius.Unlimited>Неограниченно</Paragon.SettingsTabRecord_Misc.ForceIngredientSearchRadius.Unlimited>
	<!---->
	<Paragon.SettingsTabRecord_Agriculture.SoilDepletion>Истощение почвы: {0}</Paragon.SettingsTabRecord_Agriculture.SoilDepletion>
	<Paragon.SettingsTabRecord_Agriculture.SoilDepletion.MouseOver>Множитель истощения почвы при сборе сельскохозяйственных культур. Чем больше, тем сложнее.</Paragon.SettingsTabRecord_Agriculture.SoilDepletion.MouseOver>
	<Paragon.SettingsTabRecord_Agriculture.SoilRestoration>Восстановление почвы: {0}</Paragon.SettingsTabRecord_Agriculture.SoilRestoration>
	<Paragon.SettingsTabRecord_Agriculture.SoilRestoration.MouseOver>Множитель восстановления почвы при сборе специальных сельскохозяйственных культур, вроде сенотравы. Чем больше, тем проще.</Paragon.SettingsTabRecord_Agriculture.SoilRestoration.MouseOver>
	<!---->
	<Paragon.SettingsTabRecord_FightSystem.LevelingSpeed>Скорость прокачки: {0}</Paragon.SettingsTabRecord_FightSystem.LevelingSpeed>
	<Paragon.SettingsTabRecord_FightSystem.LevelingSpeed.MouseOver>Множитель скорости прокачки навыков владения оружием пешками.</Paragon.SettingsTabRecord_FightSystem.LevelingSpeed.MouseOver>
	<!---->
	<Paragon.SettingsTabRecord_Research.CultureGain>Прирост культуры: {0}</Paragon.SettingsTabRecord_Research.CultureGain>
	<Paragon.SettingsTabRecord_Research.CultureGain.MouseOver>Множитель, отражающий прирост культуры за различные действия в игре. Чем больше, тем проще.</Paragon.SettingsTabRecord_Research.CultureGain.MouseOver>
	<Paragon.SettingsTabRecord_Research.SpaceDataGain>Прирост космических данных: {0}</Paragon.SettingsTabRecord_Research.SpaceDataGain>
	<Paragon.SettingsTabRecord_Research.SpaceDataGain.MouseOver>Множитель, отражающий прирост космических данных за различные действия в игре. Чем больше, тем проще.</Paragon.SettingsTabRecord_Research.SpaceDataGain.MouseOver>
	<!---->
	<Paragon.SettingsTabRecord_Ore.MineableScatterAmount>Количество руды на поверхности: {0}</Paragon.SettingsTabRecord_Ore.MineableScatterAmount>
	<Paragon.SettingsTabRecord_Ore.MineableScatterAmount.MouseOver>Отражает плотность размещения руды на поверхности планеты. Чем больше, тем проще.</Paragon.SettingsTabRecord_Ore.MineableScatterAmount.MouseOver>
	<Paragon.SettingsTabRecord_Ore.MineableDeepFrequency>Частота подземных залежей: {0}</Paragon.SettingsTabRecord_Ore.MineableDeepFrequency>
	<Paragon.SettingsTabRecord_Ore.MineableDeepFrequency.MouseOver>Отражает плотность размещения руды под землей. Чем больше, тем проще.</Paragon.SettingsTabRecord_Ore.MineableDeepFrequency.MouseOver>
	<Paragon.SettingsTabRecord_Ore.MineableDeepAmount>Насыщенность подземных залежей: {0}</Paragon.SettingsTabRecord_Ore.MineableDeepAmount>
	<Paragon.SettingsTabRecord_Ore.MineableDeepAmount.MouseOver>Отражает количество руды в каждой клетке подземных залежей. Чем больше, тем проще.</Paragon.SettingsTabRecord_Ore.MineableDeepAmount.MouseOver>
	<!---->
	<Paragon.ProjectParagonSettings.LoadDefault>Сбросить настройки</Paragon.ProjectParagonSettings.LoadDefault>
	<Paragon.ProjectParagonSettings.LoadDefault.Tooltip>Загрузить стандартные настройки для игры в сборку.</Paragon.ProjectParagonSettings.LoadDefault.Tooltip>
	<Paragon.ProjectParagonSettings.LoadDefault.Message>Настройки успешно сброшены до стандартных.</Paragon.ProjectParagonSettings.LoadDefault.Message>
	<Paragon.ProjectParagonSettings.LoadTemplate>Загрузить шаблон</Paragon.ProjectParagonSettings.LoadTemplate>
	<Paragon.ProjectParagonSettings.LoadTemplate.Tooltip>Загрузить один из предложенных шаблонов настройки сборки.</Paragon.ProjectParagonSettings.LoadTemplate.Tooltip>
	<Paragon.ProjectParagonSettings.LoadTemplate.Message>Функция пока не работает.</Paragon.ProjectParagonSettings.LoadTemplate.Message>
	<!---->
</LanguageData>