<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	
	<Paragon.Settings.ParagonMod>Project Paragon</Paragon.Settings.ParagonMod>
	<Paragon.Settings.ShowStartInformation>Показывать информационное окно при старте новой игры</Paragon.Settings.ShowStartInformation>
	<Paragon.Settings.FactionAILiteMode>Пассивная жизнь мира</Paragon.Settings.FactionAILiteMode>
	<Paragon.Settings.FactionAILiteModeDesc>При включении активирует пассивную жизнь глобального мира. Поселения будут нападать друг на друга, торговать между собой, создавать объекты в мире и т.д даже там, где вас нет.
	
Включение данной настройки может снизить производительность, но мир станет "более живым"</Paragon.Settings.FactionAILiteModeDesc>
	
</LanguageData>