<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	
	<Paragon.Settings.ParagonMod>Project Paragon</Paragon.Settings.ParagonMod>
	<Paragon.Settings.ShowStartInformation>Показывать информационное окно при старте новой игры</Paragon.Settings.ShowStartInformation>
	<Paragon.Settings.FactionAILiteMode>Пассивная жизнь мира</Paragon.Settings.FactionAILiteMode>
	<Paragon.Settings.FactionAILiteModeDesc>При включении отключает пассивную жизнь глобального мира. Поселения больше не нападают друг на друга, не торгуют даже там, где вас нет.
	
Выключение данной настройки может значительно повысить производительность, но мир станет "менее живым"</Paragon.Settings.FactionAILiteModeDesc>
	
</LanguageData>