<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
    <ST_ToolTypes>Total number of tool types: {0}</ST_ToolTypes>
    <ST_SurvivalTool>survival tool</ST_SurvivalTool>
    <ST_NormalTool>normal tool</ST_NormalTool>

    <ST_alertColonistNeedsSurvivalTool>Missing SurvivalTools alert</ST_alertColonistNeedsSurvivalTool>
    <ST_alertColonistNeedsSurvivalTool_tooltip>Trigger alert when pawns are missing a required SurvivalTool for the assigned jobs. It may overreport unnecessary tools.</ST_alertColonistNeedsSurvivalTool_tooltip>
    <ST_alertColonistNeedsSurvivalTool_Delay>Alert check frequency</ST_alertColonistNeedsSurvivalTool_Delay>
    <ST_alertColonistNeedsSurvivalTool_Delay_tooltip>In game time between each alert check.</ST_alertColonistNeedsSurvivalTool_Delay_tooltip>

    <ST_noToolWorkPenalty>Toolless penalty</ST_noToolWorkPenalty>
    <ST_noToolWorkPenalty_tooltip>Toggle penalty for work speed, yield and success chance if working without tools.</ST_noToolWorkPenalty_tooltip>

    <ST_disableNoToolWork>Forbid toolless work</ST_disableNoToolWork>
    <ST_disableNoToolWork_tooltip>Fully forbid working without tools</ST_disableNoToolWork_tooltip>

    <ST_noToolWorkFactor>Work speed stat penalty</ST_noToolWorkFactor>
    <ST_noToolWorkFactor_tooltip>Work speed when working without tools</ST_noToolWorkFactor_tooltip>
    <ST_noToolWorkOffset>Yield and success stat penalty</ST_noToolWorkOffset>
    <ST_noToolWorkOffset_tooltip>Yield and success chance when working without tools</ST_noToolWorkOffset_tooltip>
</LanguageData>